This is the mail system at host {{host}}.

Your message was successfully delivered to the destination(s)
listed below. If the message was delivered to mailbox you will
receive no further notifications. Otherwise you may still receive
notifications of mail delivery errors from other systems.

{{#recipients}}{{{address}}}:delivery Ok
{{/recipients}}